#wrapper {
  .main {
    display: flex;
    margin: 0 auto;
    padding: 10px 0 40px;
    width: 940px;
    border: solid #008080;
    &__list {
      width: 620px;
      color: #e5e5e5;
      border: solid #008080;
    }
    &__side-menu {
      margin: 0 10px 0;
      width: 300px;
      color: #e5e5e5;
      border: solid #008080;

    }
  }
}