.pagination {
  display: flex;
  justify-content: center;
  letter-spacing: 20px;
  background-color: #383838;
  padding: 8px;
  width: 614px;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  a {
    color: #e5e5e5;
    border: 1px solid red;
  }
  .current {
    color: #696969;
  }
  a:hover {
    background-color: red;
  }
}
.shadow {
  box-shadow: 2px 2px 5px black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
