.pagination {
  display: flex;
  justify-content: center;
  letter-spacing: 20px;
  background-color: #383838;
  padding: 4px;
  width: 614px;
  height: 40px;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  a {
    color: #e5e5e5;
    padding: 10px 0 10px 20px;
  }
  .current {
    color: #696969;
    padding: 10px 0 10px 20px;
  }
  a:hover {
    background-color: #696969;
    border-radius: 50%;
  }
}
.shadow {
  box-shadow: 2px 2px 5px black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
