.pagination {
  display: flex;
  justify-content: center;
  letter-spacing: 20px;
  background-color: #383838;
  margin: 0;
  padding: 8px;
  width: 614px;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.shadow {
  box-shadow: 20px 20px 10px blue;
}